export PROJECT_ROOT=$(git rev-parse --show-toplevel)

@start() {
  yarn run dev
}

@package-version() {
  grep version <package.json |
    head -1 |
    awk -F: '{ print $2 }' |
    sed 's/[", ]//g'
}

@bundle.chrome() {
  version=$(@package-version)
  rm -rf "${PROJECT_ROOT}/dist_chrome"
  yarn run build:chrome
  mkdir -p "${PROJECT_ROOT}/releases"
  (cd "${PROJECT_ROOT}/dist_chrome" && zip -r "${PROJECT_ROOT}/releases/${version}.chrome.zip" -- * && cd "${PROJECT_ROOT}")
}

####

@setup() {
  curl https://get.volta.sh | bash
  yarn install
}

@setup.shell() {
  shell_files=("$HOME/.zprofile" "$HOME/.zshrc" "$HOME/.bashrc")
  source_command="[ -f .envrc ] && source .envrc"
  
  for file in "${shell_files[@]}"; do
    if [ -f "$file" ]; then
      if grep -q "$source_command" "$file"; then
        return 0
      else
        echo "📝 Adding .envrc sourcing to $file"
        echo "" >> "$file"
        echo "$source_command" >> "$file"
        echo "✅ Added to $file"
        @setup.shell
        return 0
      fi
    fi
  done
  
  echo "❌ Could not find any suitable shell config files to update."
  return 1
}

@setup.shell