export PROJECT_ROOT=$(git rev-parse --show-toplevel)

@start() {
  yarn run dev
}

@package-version() {
  grep version <package.json |
    head -1 |
    awk -F: '{ print $2 }' |
    sed 's/[", ]//g'
}

@bundle.chrome() {
  version=$(@package-version)
  rm -rf "${PROJECT_ROOT}/dist_chrome"
  yarn run build:chrome
  mkdir -p "${PROJECT_ROOT}/releases"
  (cd "${PROJECT_ROOT}/dist_chrome" && zip -r "${PROJECT_ROOT}/releases/${version}.chrome.zip" -- * && cd "${PROJECT_ROOT}")
}